# Proceso de ETL

## Instalación de librerias

In [277]:
%pip install -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [278]:
# !pip install pandas
# !pip install pyarrow
# !pip install gzip
# !pip install matplotlib
# !pip install folium
# !pip install numpy

## Importación de librerías

In [279]:
import pandas as pd
import pyarrow
import gzip
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import folium
import numpy as np

In [280]:
path = 'path.txt'

## Funciones

In [281]:
def reemplazar_24_horas(horario:str) -> str:
    if '24' in horario:
        return '24 hours daily'
    else:
        return horario

## Extraccion

In [282]:
# Con esta funcion se lee cada linea que se toma como una variables con un string asignado
with open(path, 'r') as archivo:
    for linea in archivo.readlines():
        exec(linea.strip(), globals())

In [283]:
df = pd.read_csv(estaciones_carga, encoding='utf-8')

Realizamos un análisis preliminar del df.

In [284]:
df.head(3)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN

In [285]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70406 entries, 0 to 70405
Data columns (total 65 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Fuel Type Code                    70406 non-null  object
 1   Station Name                      70406 non-null  object
 2   Street Address                    70405 non-null  object
 3   Intersection Directions           4492 non-null   object
 4   City                              70406 non-null  object
 5   State                             70406 non-null  object
 6   ZIP                               70405 non-null  object
 7   Plus4                             0 non-null      float64
 8   Station Phone                     65204 non-null  object
 9   Status Code                       70406 non-null  object
 10  Expected Date                     1218 non-null   object
 11  Groups With Access Code           70406 non-null  object
 12  Access Days Time                  66628 non-null  object
 13  Cards Accepted                    11289 non-null  object
 14  BD Blends                         1217 non-null   object
 15  NG Fill Type Code                 1603 non-null   object
 16  NG PSI                            1597 non-null   object
 17  EV Level1 EVSE Num                286 non-null    float64
 18  EV Level2 EVSE Num                54144 non-null  float64
 19  EV DC Fast Count                  8307 non-null   float64
 20  EV Other Info                     49 non-null     object
 21  EV Network                        60907 non-null  object
 22  EV Network Web                    50305 non-null  object
 23  Geocode Status                    70391 non-null  object
 24  Latitude                          70406 non-null  float64
 25  Longitude                         70406 non-null  float64
 26  Date Last Confirmed               70188 non-null  object
 27  ID                                70406 non-null  int64
 28  Updated At                        70406 non-null  object
 29  Owner Type Code                   30190 non-null  object
 30  Federal Agency ID                 955 non-null    float64
 31  Federal Agency Name               955 non-null    object
 32  Open Date                         69310 non-null  object
 33  Hydrogen Status Link              83 non-null     object
 34  NG Vehicle Class                  1780 non-null   object
 35  LPG Primary                       1867 non-null   object
 36  E85 Blender Pump                  4508 non-null   object
 37  EV Connector Types                60690 non-null  object
 38  Country                           70406 non-null  object
 39  Intersection Directions (French)  188 non-null    object
 40  Access Days Time (French)         6591 non-null   object
 41  BD Blends (French)                2 non-null      object
 42  Groups With Access Code (French)  70406 non-null  object
 43  Hydrogen Is Retail                117 non-null    object
 44  Access Code                       70406 non-null  object
 45  Access Detail Code                7423 non-null   object
 46  Federal Agency Code               955 non-null    object
 47  Facility Type                     27665 non-null  object
 48  CNG Dispenser Num                 1039 non-null   float64
 49  CNG On-Site Renewable Source      716 non-null    object
 50  CNG Total Compression Capacity    708 non-null    float64
 51  CNG Storage Capacity              357 non-null    float64
 52  LNG On-Site Renewable Source      62 non-null     object
 53  E85 Other Ethanol Blends          1458 non-null   object
 54  EV Pricing                        16961 non-null  object
 55  EV Pricing (French)               2032 non-null   object
 56  LPG Nozzle Types                  1826 non-null   object
 57  Hydrogen Pressures                116 non-null    object
 58  Hydrogen Standards                116 non-null    object
 59  CNG Fill Type Code                1603 non-null   object
 60  CNG PSI                           1597 non-null   object
 61  CNG Vehicle Class                 1622 non-null   object
 62  LNG Vehicle Class                 158 non-null    object
 63  EV On-Site Renewable Source       370 non-null    object
 64  Restricted Access                 53435 non-null  object
dtypes: float64(10), int64(1), object(54)
memory usage: 34.9+ MB

In [286]:
df.describe()

,Plus4,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,Latitude,Longitude,ID,Federal Agency ID,CNG Dispenser Num,CNG Total Compression Capacity,CNG Storage Capacity
count,0.0,286.000000,54144.000000,8307.000000,70406.000000,70406.000000,70406.000000,955.000000,1039.000000,708.000000,357.000000
mean,NaN,3.461538,2.315289,3.576381,38.929309,-96.061447,148730.326066,13.905759,2.731473,873.766949,47866.787115
std,NaN,6.548356,3.157387,4.129470,5.628458,19.545273,54261.672118,6.767439,8.333492,1032.371466,54327.698853
min,NaN,1.000000,1.000000,1.000000,0.000000,-159.788556,17.000000,2.000000,0.000000,2.000000,0.000000
25%,NaN,1.000000,2.000000,1.000000,34.182981,-117.860563,113723.250000,8.000000,1.000000,215.750000,30000.000000
50%,NaN,1.000000,2.000000,2.000000,39.105989,-92.002897,165247.500000,14.000000,2.000000,632.000000,36000.000000
75%,NaN,2.000000,2.000000,4.000000,42.702185,-78.881493,190653.750000,17.000000,2.000000,1100.000000,60000.000000
max,NaN,51.000000,311.000000,56.000000,64.852466,40.432278,224382.000000,60.000000,202.000000,10620.000000,593136.000000

In [287]:
df.shape

(70406, 65)

In [288]:
df.columns

Index(['Fuel Type Code', 'Station Name', 'Street Address',
       'Intersection Directions', 'City', 'State', 'ZIP', 'Plus4',
       'Station Phone', 'Status Code', 'Expected Date',
       'Groups With Access Code', 'Access Days Time', 'Cards Accepted',
       'BD Blends', 'NG Fill Type Code', 'NG PSI', 'EV Level1 EVSE Num',
       'EV Level2 EVSE Num', 'EV DC Fast Count', 'EV Other Info', 'EV Network',
       'EV Network Web', 'Geocode Status', 'Latitude', 'Longitude',
       'Date Last Confirmed', 'ID', 'Updated At', 'Owner Type Code',
       'Federal Agency ID', 'Federal Agency Name', 'Open Date',
       'Hydrogen Status Link', 'NG Vehicle Class', 'LPG Primary',
       'E85 Blender Pump', 'EV Connector Types', 'Country',
       'Intersection Directions (French)', 'Access Days Time (French)',
       'BD Blends (French)', 'Groups With Access Code (French)',
       'Hydrogen Is Retail', 'Access Code', 'Access Detail Code',
       'Federal Agency Code', 'Facility Type', 'CNG Dispenser Num',
       'CNG On-Site Renewable Source', 'CNG Total Compression Capacity',
       'CNG Storage Capacity', 'LNG On-Site Renewable Source',
       'E85 Other Ethanol Blends', 'EV Pricing', 'EV Pricing (French)',
       'LPG Nozzle Types', 'Hydrogen Pressures', 'Hydrogen Standards',
       'CNG Fill Type Code', 'CNG PSI', 'CNG Vehicle Class',
       'LNG Vehicle Class', 'EV On-Site Renewable Source',
       'Restricted Access'],
      dtype='object')

## Transformacion de datos

#### columnas irrelevantes

Vemos, a priori, que hay muchas columnas que no nos van a servir para el proyecto, por lo que procedemos a borrarlas.

In [289]:
columnas_a_borrar = ['Station Name', 'Street Address', 'ZIP', 'Plus4', 'Station Phone', 'EV Network Web', 'Open Date', 'Hydrogen Status Link',
                     'Intersection Directions (French)', 'Access Days Time (French)', 'BD Blends (French)', 'Groups With Access Code (French)',
                     'Hydrogen Is Retail', 'EV Pricing (French)', ]

In [290]:
df = df.drop(columnas_a_borrar, axis=1)

Hay otras columnas que no sabemos. Antes de borrarlas, analizamos su contenido.

In [291]:
columnas_a_analizar = ['Groups With Access Code', 'Intersection Directions', 'Cards Accepted', 'NG PSI', 'EV Other Info', 'EV Network', 'Geocode Status',
              'Date Last Confirmed', 'Updated At', 'Owner Type Code', 'Federal Agency ID', 'Federal Agency Name',
              'NG Vehicle Class', 'LPG Primary',  'Access Code', 'Access Detail Code', 'Federal Agency Code',
              'Facility Type', 'CNG Fill Type Code', 'EV On-Site Renewable Source', 'Restricted Access']

In [292]:
for columna in columnas_a_analizar:
    print(f'\n\nColumna: {columna}\n{df[columna].unique()}\n')

Columna: Groups With Access Code
['Private' 'Public - Card key at all times' 'Private - Government only'
 'Public - Credit card at all times' 'TEMPORARILY UNAVAILABLE (Public)'
 'TEMPORARILY UNAVAILABLE (Public - Credit card at all times)'
 'Private - Fleet customers only' 'Public'
 'Public - Credit card after hours' 'TEMPORARILY UNAVAILABLE (Private)'
 'Private - Card key at all times' 'Public - Call ahead'
 'Public - Card key after hours'
 'TEMPORARILY UNAVAILABLE (Public - Credit card after hours)'
 'TEMPORARILY UNAVAILABLE (Public - Call ahead)'
 'TEMPORARILY UNAVAILABLE (Private - Government only)'
 'PLANNED - not yet accessible (Public - Credit card at all times)'
 'PLANNED - not yet accessible (Private - Government only)'
 'Public - Limited hours' 'PLANNED - not yet accessible (Public)'
 'PLANNED - not yet accessible (Public - Call ahead)'
 'Private - Call ahead' 'Private - Credit card at all times'
 'PLANNED - not yet accessible (Private)' 'Public - Fleet customers only'
 'TEMPORARILY UNAVAILABLE (Public - Card key at all times)'
 'Private - Credit card after hours' 'Private - Residential']



Columna: Intersection Directions
[nan
 'From I-7585 N, exit 91 to Central Ave, left on Memorial, left on Whitehall, and the station is on the left'
 'From Route 1, take the first exit after Callahan Tunnel. Located near the Massachusetts State Police Troop F building on Service Rd.'
 ...
 'Stations located at the shuttle parking area by the Elkmont Activities Center.'
 'Stations are located just past the Greenbrier check-in building by the splash pad.'
 'Leasing Office']



Columna: Cards Accepted
[nan 'Comdata FleetOne FuelMan Voyager Wright_Exp'
 'FuelMan M V Wright_Exp'
 'A CleanEnergy Comdata D FuelMan M V Voyager Wright_Exp'
 'CleanEnergy D FleetOne FuelMan M V Voyager Wright_Exp'
 'CleanEnergy D FuelMan M V Voyager Wright_Exp'
 'CleanEnergy D FleetOne FuelMan M Proprietor V Voyager Wright_Exp'
 'D M V Wright_Exp' 'CleanEnergy'
 'A Cash Comdata D FuelMan M V Voyager Wright_Exp'
 'Comdata FuelMan GasCard M V Wright_Exp'
 'A CleanEnergy D FleetOne FuelMan M Proprietor V Voyager Wright_Exp'
 'A D M V Voyager Wright_Exp' 'D FuelMan M V Wright_Exp'
 'CleanEnergy D FuelMan M Proprietor V Voyager Wright_Exp'
 'A CleanEnergy Comdata D FleetOne FuelMan M V Voyager Wright_Exp'
 'GasCard M V Wright_Exp' 'Comdata D GasCard M Proprietor V Wright_Exp'
 'Comdata GasCard M V Wright_Exp' 'A D M Proprietor V Voyager Wright_Exp'
 'A CleanEnergy Comdata D FleetOne FuelMan M Proprietor V Voyager Wright_Exp'
 'Debit M V' 'D FuelMan M V Voyager Wright_Exp'
 'A Cash D EFS FuelMan M V Voyager Wright_Exp' 'Proprietor' 'M V'
 'A Cash Checks FuelMan M V'
 'A Comdata D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'M V Voyager Wright_Exp' 'A D M V' 'CleanEnergy D M V Voyager Wright_Exp'
 'A CleanEnergy Comdata D FuelMan M Proprietor V Voyager Wright_Exp'
 'A D Debit FuelMan M Proprietor V Voyager Wright_Exp' 'A M V'
 'A D M V Wright_Exp' 'A Cash Checks D M V Voyager Wright_Exp'
 'A Cash D M V Wright_Exp' 'A Cash D FuelMan M V Voyager Wright_Exp'
 'A Cash D M V' 'A Cash D M V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Checks Comdata CREDIT D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Checks CREDIT D M V Voyager Wright_Exp'
 'A Cash D Debit M V Voyager Wright_Exp' 'A Cash D M V Voyager'
 'A CleanEnergy D FleetOne FuelMan M V Voyager Wright_Exp'
 'D M V Voyager Wright_Exp' 'A Cash Checks D M V' 'Cash Checks D M V'
 'A ALLIANCE Cash Checks D M V' 'Cash D M V' 'A ALLIANCE Cash D M V'
 'Cash M V' 'A Cash Checks D Debit M V'
 'A Cash D FuelMan GasCard M V Wright_Exp'
 'Cash Checks CREDIT D Debit M V' 'Cash Checks D Debit M V'
 'ALLIANCE Cash Checks D M V' 'ALLIANCE Cash Checks M V'
 'ALLIANCE Cash Checks M V Voyager' 'A ALLIANCE Cash Checks D M V Voyager'
 'Cash Checks M V' 'ALLIANCE' 'Cash D Debit M V' 'Cash CREDIT M V'
 'M PHH V Voyager Wright_Exp' 'Trillium'
 'A CleanEnergy D FuelMan M V Wright_Exp' 'A Cash D Debit M V'
 'Cash Checks Debit M V' 'A Cash Checks D M V Voyager'
 'M Proprietor V Voyager' 'A Cash D Debit M V Wright_Exp' 'Comdata'
 'Cash M V Voyager' 'Cash M V Voyager Wright_Exp' 'Cash Voyager'
 'A Cash M V' 'Wright_Exp' 'A Cash CFN D M V Voyager Wright_Exp'
 'FuelMan GasCard Wright_Exp' 'Cash D M V Voyager Wright_Exp'
 'A Cash D FleetOne M V Voyager Wright_Exp'
 'A D EFS M TCH Tchek Trillium V Voyager Wright_Exp'
 'A D M Trillium V Voyager Wright_Exp' 'A ALLIANCE Cash CFN Checks D M V'
 'A D GasCard M Proprietor V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Checks D FuelMan M Proprietor V Voyager Wright_Exp'
 'A Cash Checks D FuelMan M V Voyager Wright_Exp'
 'A Cash Checks D FuelMan GasCard M V Voyager Wright_Exp'
 'Proprietor Wright_Exp' 'A Cash Checks D M PHH V Voyager Wright_Exp'
 'A Cash Checks D FuelMan GasCard M PHH V Voyager Wright_Exp'
 'A Cash Checks D GasCard M V Voyager Wright_Exp'
 'A Cash Checks D Debit FuelMan M V Voyager Wright_Exp' 'A D M'
 'A Cash Checks D FuelMan GasCard M Proprietor V Voyager Wright_Exp'
 'A Cash Checks D M V Wright_Exp'
 'A Cash Checks D Debit M V Voyager Wright_Exp'
 'A Cash Checks D Debit GasCard M V Voyager Wright_Exp' 'Checks M V'
 'A Comdata D FleetOne FuelMan GasCard M Proprietor V Voyager Wright_Exp'
 'A Cash D Debit FuelMan GasCard M V Voyager Wright_Exp'
 'A Cash Checks D Debit FuelMan GasCard M V Voyager Wright_Exp' 'D M V'
 'A M Trillium V Voyager' 'A D GasCard M Proprietor V Wright_Exp'
 'A D FleetOne M V Voyager Wright_Exp' 'Cash Checks'
 'A D Debit M V Wright_Exp' 'A CFN D M V Voyager Wright_Exp'
 'Comdata FuelMan Proprietor Voyager Wright_Exp'
 'A Cash D Debit FleetOne M V Voyager Wright_Exp' 'D M V Voyager'
 'PacificPride Voyager Wright_Exp'
 'A Cash Comdata D EFS M TCH Tchek V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Comdata CREDIT D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A Cash CREDIT D Debit M V Voyager Wright_Exp' 'Cash D M Proprietor V'
 'A Comdata D Debit M V Wright_Exp' 'A D Debit M V'
 'A Cash Checks CREDIT D M V Voyager Wright_Exp' 'Cash Checks D Debit'
 'A CleanEnergy Comdata D Debit FleetOne FuelMan M V Voyager Wright_Exp'
 'PacificPride' 'A D M V Voyager' 'A D M Proprietor V Wright_Exp'
 'A Cash Comdata D Debit FleetOne M TCH V Voyager Wright_Exp' 'CFN'
 'A Comdata EFS FuelMan M V Voyager Wright_Exp'
 'A Cash D FuelMan M V Wright_Exp' 'ALLIANCE Cash D M V'
 'Cash D FuelMan M V Voyager Wright_Exp'
 'A CREDIT D Debit M V Voyager Wright_Exp'
 'A D FuelMan M V Voyager Wright_Exp'
 'Cash D FuelMan M Proprietor V Voyager Wright_Exp'
 'Cash D M V Wright_Exp'
 'A Comdata D Debit M PacificPride V Voyager Wright_Exp'
 'A Cash D FleetOne M V'
 'A Cash D FleetOne FuelMan M V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Checks D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY D FleetOne FuelMan GasCard M Proprietor V Voyager Wright_Exp'
 'A Cash CFN Checks D M V Voyager Wright_Exp'
 'A D FuelMan M Proprietor V Voyager Wright_Exp'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M Tchek V Voyager Wright_Exp'
 'A Cash D Debit FuelMan M V Voyager Wright_Exp'
 'A Cash Comdata D EFS M V Voyager Wright_Exp'
 'A Cash Checks D M Proprietor V Wright_Exp' 'Cash Debit'
 'Comdata FuelMan PacificPride Tchek Voyager Wright_Exp'
 'M Proprietor V Voyager Wright_Exp' 'A D Debit M V Voyager'
 'D FuelMan M Proprietor V Voyager Wright_Exp'
 'A Cash Checks D FuelMan M V Wright_Exp'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M TCH V Voyager Wright_Exp'
 'A Cash Comdata D Debit FuelMan M PacificPride V' 'Cash Debit M V'
 'M Proprietor V' 'Cash CREDIT D M V' 'EFS'
 'A CleanEnergy Comdata D FleetOne FuelMan M TCH V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Checks CREDIT D Debit M V Voyager Wright_Exp'
 'A D FuelMan M V Wright_Exp' 'Cash Checks M V Voyager Wright_Exp'
 'A Checks D M V Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash CFN Checks D EFS FleetOne FuelMan M Proprietor TCH Tchek V Voyager Wright_Exp'
 'A Cash D M PacificPride V'
 'A ANDROID_PAY APPLE_PAY Cash Checks Comdata D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'CREDIT Debit V' 'A Cash D FuelMan GasCard M V Voyager Wright_Exp'
 'A Cash Checks D FleetOne M V Voyager Wright_Exp'
 'A CFN D FuelMan M V Voyager Wright_Exp' 'A D GasCard M V Wright_Exp'
 'A Cash Checks M V' 'A CFN D Debit M V' 'A D M Proprietor V'
 'Cash Debit Voyager Wright_Exp' 'Comdata M V Wright_Exp'
 'A D FuelMan M Proprietor V Wright_Exp'
 'A CleanEnergy D FuelMan M V Voyager Wright_Exp' 'M V Wright_Exp'
 'A Cash Checks D FuelMan M V Voyager'
 'A D FuelMan GasCard M V Voyager Wright_Exp'
 'A CleanEnergy D Debit FuelMan M V Voyager Wright_Exp'
 'Comdata FuelMan M V Wright_Exp' 'Cash FuelMan M V Voyager Wright_Exp'
 'FuelMan M V Voyager Wright_Exp'
 'A Cash Checks D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A ARI Cash Checks D Debit FuelMan M Proprietor V Voyager Wright_Exp'
 'GasCard M V' 'A Cash D FuelMan M V Voyager'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A Cash CFN D FuelMan M V Voyager Wright_Exp' 'A Cash Checks Debit M V'
 'A CleanEnergy D EFS FleetOne FuelMan M V Voyager Wright_Exp'
 'A Cash D Debit M V Voyager' 'Cash' 'CREDIT'
 'A Cash D FleetOne M V Wright_Exp' 'A D M Proprietor V Voyager'
 'A Cash D GasCard M V Voyager' 'A Cash Checks D Debit M V Wright_Exp'
 'A Cash D M Proprietor V'
 'A Cash Comdata D EFS FleetOne FuelMan GasCard M TCH Tchek V Voyager Wright_Exp'
 'A CleanEnergy Comdata D EFS FuelMan M Speedway TCH Tchek V Voyager Wright_Exp'
 'ALLIANCE Cash M V' 'A Cash D Debit M Proprietor V'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M Proprietor TCH V Voyager Wright_Exp'
 'A D FuelMan M V'
 'A Cash Checks D Debit FleetOne FuelMan M Proprietor V Voyager Wright_Exp'
 'A Cash Checks D FleetOne FuelMan M V Voyager Wright_Exp'
 'A Cash Comdata D Debit EFS FleetOne FuelMan M PHH TCH Tchek V Voyager Wright_Exp'
 'A CFN Comdata D EFS FleetOne FuelMan GasCard M TCH Tchek V Voyager Wright_Exp'
 'A Cash CFN Checks D FuelMan GasCard M PHH V Voyager Wright_Exp'
 'A Cash D GasCard M V Voyager Wright_Exp'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M Speedway TCH Tchek V Voyager Wright_Exp'
 'CleanEnergy D FleetOne M V Voyager Wright_Exp'
 'A D FleetOne FuelMan GasCard M V Voyager Wright_Exp'
 'A CleanEnergy D FleetOne M V Voyager Wright_Exp'
 'A CFN Comdata D EFS FleetOne FuelMan GasCard M TCH Tchek V Wright_Exp'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M Speedway TCH V Voyager Wright_Exp'
 'A CleanEnergy D EFS M Speedway TCH Tchek V Voyager' 'CREDIT Debit'
 'A Cash Checks D M Proprietor V Voyager Wright_Exp'
 'A D GasCard M V Voyager Wright_Exp'
 'A Cash Checks D EFS M V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Checks D Debit EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A Cash Checks D EFS FleetOne FuelMan GasCard M TCH Tchek V Voyager Wright_Exp'
 'A Comdata D EFS M TCH Trillium V Voyager Wright_Exp'
 'A Comdata D EFS M TCH Tchek Trillium V Voyager Wright_Exp'
 'A Cash Checks Comdata D EFS FleetOne M PHH V Wright_Exp' 'FuelMan'
 'FuelMan Proprietor Voyager Wright_Exp'
 'CleanEnergy FuelMan M Proprietor V Voyager Wright_Exp'
 'A Cash D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Checks Comdata D Debit EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A Comdata D EFS FleetOne M V Voyager Wright_Exp'
 'A Comdata D FuelMan M V Voyager Wright_Exp'
 'A Cash Checks Comdata D Debit EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A ALLIANCE D M V Voyager Wright_Exp' 'M V Voyager'
 'A Comdata D M V Voyager Wright_Exp'
 'A Cash D FuelMan M Proprietor V Voyager Wright_Exp'
 'D FleetOne FuelMan M V Voyager Wright_Exp'
 'A CFN D Debit M Proprietor V Wright_Exp' 'Voyager Wright_Exp'
 'Comdata FleetOne PacificPride TCH Tchek Voyager'
 'Comdata D EFS FuelMan M Proprietor TCH Tchek V Voyager Wright_Exp'
 'A Cash Checks Comdata D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A D Debit FleetOne FuelMan GasCard M Proprietor V Voyager Wright_Exp'
 'A Cash Comdata D M V Voyager Wright_Exp'
 'A Cash Comdata D Debit M V Voyager Wright_Exp'
 'A Cash Comdata D M PacificPride V Voyager Wright_Exp'
 'A Cash Checks CREDIT D Debit M V'
 'A Comdata D EFS FleetOne FuelMan M TCH V Voyager Wright_Exp'
 'A Comdata D EFS FuelMan M Proprietor Speedway V Voyager Wright_Exp'
 'A CleanEnergy D M V Voyager Wright_Exp'
 'A D EFS FuelMan M V Voyager Wright_Exp' 'A Cash Comdata D M Tchek V'
 'D FleetOne FuelMan GasCard M V Voyager Wright_Exp'
 'A Cash Checks D FuelMan M PHH V Voyager Wright_Exp'
 'A Comdata D EFS FuelMan M V Voyager Wright_Exp'
 'A Cash D EFS FuelMan M V Wright_Exp'
 'A Cash D Debit FuelMan M Proprietor V Voyager Wright_Exp'
 'A Cash Checks GasCard M V Voyager Wright_Exp'
 'A Cash D M Proprietor V Voyager Wright_Exp'
 'A Comdata D FuelMan M V Wright_Exp'
 'A Comdata D EFS M TCH Tchek V Wright_Exp'
 'A CFN CleanEnergy Comdata D FleetOne FuelMan M V Voyager Wright_Exp'
 'A Cash Comdata D FleetOne FuelMan M V Voyager Wright_Exp'
 'Comdata D EFS M V Voyager Wright_Exp'
 'A CFN Comdata D EFS FleetOne FuelMan GasCard M Tchek V Voyager Wright_Exp'
 'A Cash Checks Comdata D EFS FleetOne M TCH Tchek V Voyager Wright_Exp'
 'A D EFS FuelMan M Proprietor Trillium V Voyager Wright_Exp'
 'A Comdata D EFS FuelMan M Proprietor Trillium V Voyager Wright_Exp'
 'A Cash D M Tchek V Wright_Exp' 'D FuelMan M V'
 'FuelMan M Proprietor V Wright_Exp'
 'A Comdata D EFS FuelMan M TCH Tchek V Wright_Exp'
 'A Comdata EFS FuelMan M TCH Tchek V Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Comdata D Debit EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A Cash Checks D Debit EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A M V Voyager Wright_Exp' 'A D Debit EFS M V Wright_Exp'
 'Comdata FuelMan GasCard Proprietor Voyager Wright_Exp'
 'A CFN CleanEnergy D M PHH V Voyager'
 'A Cash Checks Comdata D EFS FuelMan GasCard M Proprietor TCH V Voyager Wright_Exp'
 'A D EFS M V Voyager Wright_Exp' 'A D M TCH V Voyager Wright_Exp'
 'A D M TCH Tchek Trillium V Voyager Wright_Exp'
 'A D EFS FuelMan M TCH Tchek Trillium V Voyager Wright_Exp'
 'A Cash Checks D FuelMan M V'
 'A Cash Checks Comdata D M V Voyager Wright_Exp' 'A Cash D Debit M'
 'A Cash GasCard M V' 'A Comdata D EFS M TCH Tchek V Voyager Wright_Exp'
 'A Comdata D EFS FuelMan M Tchek V Wright_Exp'
 'A Comdata D M V Wright_Exp'
 'A Cash D EFS FuelMan M TCH Tchek Trillium V Voyager Wright_Exp'
 'A D FuelMan M Trillium V Voyager Wright_Exp'
 'A CFN Comdata D EFS FuelMan M V Voyager Wright_Exp'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M Proprietor Speedway TCH Tchek V Voyager Wright_Exp'
 'A CleanEnergy Comdata D EFS FuelMan M TCH Tchek V Voyager'
 'A Comdata D FleetOne FuelMan M V Voyager Wright_Exp'
 'A CFN Comdata M Tchek V Voyager Wright_Exp'
 'A Comdata D FuelMan M Proprietor V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash Checks Comdata D EFS FleetOne FuelMan M V Voyager Wright_Exp'
 'A CFN CleanEnergy Comdata D Debit EFS FleetOne FuelMan GasCard M PacificPride PHH Speedway TCH Tchek V Voyager Wright_Exp'
 'A CFN Comdata D EFS FleetOne M TCH Tchek V Wright_Exp'
 'A Cash CFN D M V' 'A Cash D FuelMan M V' 'A D M Voyager' 'A FuelMan M V'
 'A Cash Comdata D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A Cash D GasCard M V' 'A Cash D M PHH V Voyager Wright_Exp'
 'A Comdata D EFS FleetOne FuelMan M V Voyager Wright_Exp' 'A D V'
 'A Cash Checks Comdata D FleetOne FuelMan M V Voyager Wright_Exp'
 'Proprietor Voyager' 'FuelMan GasCard M V Wright_Exp'
 'A D FuelMan M TCH Tchek Trillium V Voyager Wright_Exp'
 'A CleanEnergy D FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A D EFS M Proprietor Trillium V Voyager Wright_Exp'
 'A Comdata D EFS FuelMan M TCH Tchek Trillium V Voyager Wright_Exp'
 'A CFN Comdata D EFS FleetOne GasCard M TCH Tchek V Voyager Wright_Exp'
 'A Cash Checks CleanEnergy Comdata D EFS FleetOne FuelMan M Proprietor TCH V Voyager Wright_Exp'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M Proprietor TCH Tchek V Voyager Wright_Exp'
 'A Cash CREDIT D Debit FuelMan M V Voyager Wright_Exp'
 'A CFN Comdata D EFS FleetOne FuelMan GasCard M Proprietor TCH Tchek V Voyager Wright_Exp'
 'A Comdata D M Proprietor V Voyager Wright_Exp' 'A Comdata D FuelMan M V'
 'A Cash D M Voyager Wright_Exp' 'A Cash CFN D M PHH V Voyager Wright_Exp'
 'D M Proprietor V Voyager Wright_Exp' 'Proprietor Voyager Wright_Exp'
 'CFN CREDIT FuelMan V'
 'A Cash Checks Comdata D FleetOne FuelMan M Tchek V Voyager Wright_Exp'
 'A CFN Comdata D FuelMan M PHH V Voyager Wright_Exp'
 'FuelMan GasCard M V Voyager Wright_Exp'
 'A CleanEnergy Comdata D EFS FuelMan M Speedway TCH Tchek V'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M Speedway TCH Tchek Voyager Wright_Exp'
 'A Cash CFN Checks D M V'
 'A CFN D FleetOne FuelMan GasCard M V Voyager Wright_Exp' 'D Debit M V'
 'A D Debit M V Voyager Wright_Exp'
 'CleanEnergy Comdata FleetOne FuelMan M V Voyager Wright_Exp'
 'Cash M V Wright_Exp'
 'A Comdata D EFS FleetOne FuelMan GasCard M PacificPride PHH Speedway V Voyager Wright_Exp'
 'A Cash Comdata D FleetOne M V Wright_Exp'
 'A Cash D FuelMan M Proprietor V Wright_Exp'
 'A D EFS FuelMan M Trillium V Voyager Wright_Exp'
 'A CFN D EFS FleetOne FuelMan GasCard M TCH Tchek V Voyager Wright_Exp'
 'A Comdata EFS FuelMan GasCard M TCH Tchek V Wright_Exp'
 'Comdata D FuelMan M V Voyager Wright_Exp'
 'A D EFS M TCH Tchek Trillium V Voyager'
 'A CleanEnergy Comdata D EFS FleetOne FuelMan M Proprietor Speedway SuperPass TCH V Voyager Wright_Exp'
 'A Cash Comdata D EFS FleetOne M Tchek V'
 'A CleanEnergy D EFS M Proprietor Tchek V Voyager Wright_Exp'
 'A Cash Comdata D M V' 'A Cash Checks D FuelMan GasCard M V'
 'A Cash Checks Comdata D M V Wright_Exp'
 'A Comdata D EFS FleetOne FuelMan M Proprietor TCH Tchek V Voyager Wright_Exp'
 'A Cash Checks D M Speedway V Voyager Wright_Exp'
 'A APPLE_PAY Cash D Debit EFS FleetOne M TCH Tchek V Voyager Wright_Exp'
 'A Comdata D M V' 'A Cash D Debit FuelMan M V'
 'A Cash Comdata D FleetOne M V Voyager Wright_Exp'
 'A CleanEnergy Comdata D M V Voyager Wright_Exp'
 'A Cash Checks D Debit M V Voyager' 'A D FleetOne M V'
 'A ANDROID_PAY APPLE_PAY Cash Checks D M Proprietor V Voyager Wright_Exp'
 'A Debit M V' 'Cash CREDIT' 'A D FuelMan M V Voyager'
 'A Cash CFN D Debit EFS FleetOne FuelMan M PacificPride TCH Tchek V Voyager Wright_Exp'
 'A Cash CFN D Debit EFS FuelMan M PacificPride TCH Tchek V Voyager Wright_Exp'
 'A Comdata D M V Voyager' 'Comdata M V'
 'A Comdata D Debit FuelMan M V Wright_Exp'
 'A Cash Checks D Debit FuelMan M V'
 'A ALLIANCE Cash D M V Voyager Wright_Exp'
 'A CleanEnergy D FleetOne M Proprietor Tchek V Voyager Wright_Exp'
 'A Cash CFN Checks D FleetOne GasCard M V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash D EFS FleetOne FuelMan M TCH Tchek V Voyager Wright_Exp'
 'A Cash Checks CREDIT D Debit M V Voyager' 'A CleanEnergy D M V'
 'Cash Checks D M V Voyager Wright_Exp'
 'A Cash CFN Checks D Debit M V Voyager Wright_Exp'
 'A Cash Checks M V Voyager Wright_Exp'
 'A Cash Checks D M Voyager Wright_Exp'
 'A Cash Checks Comdata D Debit FleetOne FuelMan M V Voyager Wright_Exp'
 'Cash Checks D FleetOne FuelMan M PHH Tchek Voyager Wright_Exp'
 'APPLE_PAY' 'A Cash Checks D GasCard M PHH V Voyager Wright_Exp'
 'A D M Trillium V' 'FuelMan M Proprietor V Voyager Wright_Exp'
 'A ANDROID_PAY APPLE_PAY Cash D FuelMan M Proprietor V Voyager Wright_Exp'
 'CREDIT D FuelMan M V' 'A Cash Checks D M' 'M Trillium V Voyager'
 'A D EFS FuelMan GasCard M Tchek V Voyager Wright_Exp'
 'A Cash D FuelMan M PacificPride V Voyager Wright_Exp'
 'A Comdata D FleetOne M V Voyager' 'A D M Trillium Voyager Wright_Exp'
 'A Comdata D EFS FuelMan M Proprietor V Voyager Wright_Exp'
 'A Cash CREDIT D M V Voyager Wright_Exp'
 'A CleanEnergy FleetOne M V Voyager Wright_Exp'
 'A Comdata D EFS M V Voyager Wright_Exp'
 'A Cash D FuelMan M Voyager Wright_Exp'

Vemos que algunas pueden llegar a servir:

'Geocode Status'

'Access Code'

Pero podemos borrar las otras.

In [293]:
columnas_a_borrar = ['Groups With Access Code', 'Intersection Directions', 'Cards Accepted', 'NG PSI', 'EV Other Info', 'EV Network',
              'Date Last Confirmed', 'Updated At', 'Owner Type Code', 'Federal Agency ID', 'Federal Agency Name',
              'NG Vehicle Class', 'LPG Primary', 'Access Detail Code', 'Federal Agency Code',
              'Facility Type', 'CNG Fill Type Code', 'EV On-Site Renewable Source', 'Restricted Access']

In [294]:
df = df.drop(columnas_a_borrar, axis=1)

La columna 'Acces Days Time' indica los horarios de atención. Vamos a analizarla:

In [295]:
df['Access Days Time'].unique()

array([nan, '24 hours daily',
       '24 hours daily; call 866-809-4869 for Clean Energy card', ...,
       '7:30am-7pm M-F; 8am-6pm Sat; Closed Sunday',
       '24 hours daily; Phone App',
       'Mon 7:00am - 6:00pm; Tue 7:00am - 6:00pm; Wed 7:00am - 6:00pm; Thu 7:00am - 6:00pm; Fri 7:00am - 6:00pm'],
      dtype=object)

In [296]:
df['Access Days Time'].nunique()

2552

Vemos que tiene muchos valores únicos. Vamos a reemplazar todos los que contengan '24' y luego volvemos a analizar.

In [297]:
df['Access Days Time'] = df['Access Days Time'].astype(str)

In [298]:
df['Access Days Time'] = df['Access Days Time'].apply(reemplazar_24_horas)

In [299]:
df['Access Days Time'].nunique()

1914

Vemos que sigue teniendo muchos valores únicos y, para el contexto de nuestro proyecto, no va a ser una columna relevante.

In [300]:
df = df.drop(['Access Days Time'], axis=1)

Verificamos valores únicos de estados y ciudades:

In [301]:
df['City'].unique()

array(['Montgomery', 'Atlanta', 'Fort Smith', ..., 'New Minas',
       'Herriman', 'Bluffdale'], dtype=object)

In [302]:
df['City'].nunique()

8278

In [303]:
df['State'].unique()

array(['AL', 'GA', 'AR', 'MA', 'NY', 'IN', 'WY', 'CT', 'LA', 'NM', 'KS',
       'ID', 'MO', 'TX', 'UT', 'MN', 'NE', 'CO', 'OR', 'OK', 'PA', 'CA',
       'FL', 'SC', 'NC', 'AZ', 'NV', 'VA', 'MD', 'WA', 'TN', 'SD', 'IA',
       'IL', 'MI', 'ND', 'NJ', 'MS', 'OH', 'MT', 'RI', 'NH', 'WV', 'WI',
       'HI', 'VT', 'AK', 'ME', 'KY', 'DC', 'DE', 'AB', 'QC', 'MB', 'SK',
       'ON', 'BC', 'NL', 'PE', 'NB', 'NS', 'NT', 'YT', 'PR', 'MX'],
      dtype=object)

Como el alcance de nuestro proyecto es la Ciudad de New York y viajes de corta distancia, no necesitamos datos de estaciones de carga de todo el país. En principio, dejamos solo los datos del estado de New York y estados limítrofes (New York, Connecticut, Massachusetts, New Jersey, Rhode Island, Pensilvania, Vermont). La idea es ir filtrando más a medida que avanza el proyecto.

In [304]:
estados_cercanos = ['NY', 'CT', 'MA', 'NJ', 'RI', 'PA', 'VT']

In [305]:
df.shape

(70406, 31)

Verificamos cuántos registros tenemos en esos estados:

In [306]:
df[df['State'].isin(estados_cercanos)].shape

(9479, 31)

De los 70406 registros solo 9479 son del estado de NY y estados limítrofes. Borramos los otros.

In [307]:
df = df.drop(df[~df['State'].isin(estados_cercanos)].index)

In [308]:
df.shape

(9479, 31)

Exploramos la columna 'Expected Date'.

In [309]:
df['Expected Date'].unique()

array([nan, '2022-07-15', '2022-05-15', '2022-06-15', '2022-03-15',
       '2022-04-15', '2022-06-13', '2022-07-31', '2022-12-01',
       '2023-02-15', '2023-05-24', '2022-07-01', '2022-07-10',
       '2023-05-15', '2022-03-30', '2021-04-30', '2022-02-01',
       '2021-07-31', '2021-04-29', '2021-06-30', '2021-11-30',
       '2022-04-14', '2022-06-30'], dtype=object)

In [310]:
df['Expected Date'].nunique()

22

Observarmos que no hay fechas esperadas posteriores a 2023, por lo que borramos la columna.

In [311]:
df = df.drop('Expected Date', axis=1)

Exploramos la columna 'Status Code'.

In [312]:
df['Status Code'].unique()

array(['E', 'T', 'P'], dtype=object)

'Status Code' es un dato temporal que se refiere al estado de la estación de carga. E: en uso; T: disponible; P: fuera de servicio. Puede servir para la carga de datos, pero solo si se actualizan con mucha frecuencia. No va a ser el caso, por lo que también la borramos.

In [313]:
df = df.drop('Status Code', axis=1)

In [314]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9479 entries, 5 to 70395
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Fuel Type Code                  9479 non-null   object
 1   City                            9479 non-null   object
 2   State                           9479 non-null   object
 3   BD Blends                       36 non-null     object
 4   NG Fill Type Code               203 non-null    object
 5   EV Level1 EVSE Num              34 non-null     float64
 6   EV Level2 EVSE Num              8197 non-null   float64
 7   EV DC Fast Count                799 non-null    float64
 8   Geocode Status                  9479 non-null   object
 9   Latitude                        9479 non-null   float64
 10  Longitude                       9479 non-null   float64
 11  ID                              9479 non-null   int64
 12  E85 Blender Pump                275 non-null    object
 13  EV Connector Types              8853 non-null   object
 14  Country                         9479 non-null   object
 15  Access Code                     9479 non-null   object
 16  CNG Dispenser Num               131 non-null    float64
 17  CNG On-Site Renewable Source    87 non-null     object
 18  CNG Total Compression Capacity  98 non-null     float64
 19  CNG Storage Capacity            40 non-null     float64
 20  LNG On-Site Renewable Source    2 non-null      object
 21  E85 Other Ethanol Blends        96 non-null     object
 22  EV Pricing                      2283 non-null   object
 23  LPG Nozzle Types                96 non-null     object
 24  Hydrogen Pressures              5 non-null      object
 25  Hydrogen Standards              5 non-null      object
 26  CNG PSI                         203 non-null    object
 27  CNG Vehicle Class               207 non-null    object
 28  LNG Vehicle Class               5 non-null      object
dtypes: float64(8), int64(1), object(20)
memory usage: 2.2+ MB

Verificamos las columnas de latitud y longitud. Sabemos por el método info que no hay valores nulos, pero chequeamos valores atípicos o errores.

El área que vamos a evaluar antes de un filtrado final está delimitada, aproximadamente, por las siguientes coordenadas:

Latitud mínima: 36

Latitud máxima: 45

Longitud mínima: -110

Longitud máxima: -69

In [315]:
df[df['Latitude'] < 36].shape

(0, 29)

In [316]:
df[df['Latitude'] > 45].shape

(3, 29)

In [317]:
df['Latitude'][df['Latitude'] > 45]

10082    45.004475
29456    45.513643
68491    45.457863
Name: Latitude, dtype: float64

Vemos que las latitudes están bien.

In [318]:
df[df['Longitude'] < -110].shape

(1, 29)

In [319]:
df['Longitude'][df['Longitude'] < -110]

29456   -122.833936
Name: Longitude, dtype: float64

In [320]:
df[['Latitude','Longitude']][df['Longitude'] < -110]

        Latitude   Longitude
29456  45.513643 -122.833936

In [321]:
df[df['Longitude'] < -122]

,Fuel Type Code,City,State,BD Blends,NG Fill Type Code,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,Geocode Status,Latitude,...,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG PSI,CNG Vehicle Class,LNG Vehicle Class
29456,ELEC,Beaverton,RI,NaN,NaN,NaN,2.0,NaN,GPS,45.513643,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Vemos que el estado está bien pero no la longitud. Como no tenemos el dato exacto, borramos el registro.

In [322]:
df.shape

(9479, 29)

In [323]:
df = df.drop(df[df['Longitude'] < -122].index)

In [324]:
df.shape

(9478, 29)

In [325]:
df[df['Longitude'] > -69].shape

(2, 29)

In [326]:
df[['Latitude', 'Longitude']][df['Longitude'] > -69]

        Latitude  Longitude
53136  42.868419   0.000000
69951  40.432278  40.432278

In [327]:
df[df['Longitude'] > -69]

,Fuel Type Code,City,State,BD Blends,NG Fill Type Code,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,Geocode Status,Latitude,...,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG PSI,CNG Vehicle Class,LNG Vehicle Class
53136,ELEC,Clifton Park,NY,NaN,NaN,NaN,4.0,NaN,GPS,42.868419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69951,ELEC,Pittsburgh,PA,NaN,NaN,NaN,2.0,NaN,GPS,40.432278,...,NaN,NaN,NaN,Level 2: $0.49 per kWh,NaN,NaN,NaN,NaN,NaN,NaN

De nuevo, los estados están bien, pero no las coordenadas. Como no tenemos el dato exacto, borramos los registros.

In [328]:
df.shape

(9478, 29)

In [329]:
df = df.drop(df[df['Longitude'] > -69].index)

In [330]:
df.shape

(9476, 29)

Verificamos:

In [331]:
for latitud in df['Latitude']:
    if latitud < 36 or latitud > 45:
        print(latitud)

45.004475
45.45786273

In [332]:
for latitud in df['Longitude']:
    if latitud < -110 or latitud > -69:
        print(latitud)

Seguimos explorando columnas:

In [333]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9476 entries, 5 to 70395
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Fuel Type Code                  9476 non-null   object
 1   City                            9476 non-null   object
 2   State                           9476 non-null   object
 3   BD Blends                       36 non-null     object
 4   NG Fill Type Code               203 non-null    object
 5   EV Level1 EVSE Num              34 non-null     float64
 6   EV Level2 EVSE Num              8194 non-null   float64
 7   EV DC Fast Count                799 non-null    float64
 8   Geocode Status                  9476 non-null   object
 9   Latitude                        9476 non-null   float64
 10  Longitude                       9476 non-null   float64
 11  ID                              9476 non-null   int64
 12  E85 Blender Pump                275 non-null    object
 13  EV Connector Types              8850 non-null   object
 14  Country                         9476 non-null   object
 15  Access Code                     9476 non-null   object
 16  CNG Dispenser Num               131 non-null    float64
 17  CNG On-Site Renewable Source    87 non-null     object
 18  CNG Total Compression Capacity  98 non-null     float64
 19  CNG Storage Capacity            40 non-null     float64
 20  LNG On-Site Renewable Source    2 non-null      object
 21  E85 Other Ethanol Blends        96 non-null     object
 22  EV Pricing                      2282 non-null   object
 23  LPG Nozzle Types                96 non-null     object
 24  Hydrogen Pressures              5 non-null      object
 25  Hydrogen Standards              5 non-null      object
 26  CNG PSI                         203 non-null    object
 27  CNG Vehicle Class               207 non-null    object
 28  LNG Vehicle Class               5 non-null      object
dtypes: float64(8), int64(1), object(20)
memory usage: 2.2+ MB

Borramos las columnas que no son importantes para el alcance del proyecto. Dejamos algunas relacionadas con vehículos eléctricos (como precio de carga) porque pueden llegar a servir, para hacer una transformación de datos.

In [334]:
columnas_a_borrar = ['BD Blends', 'NG Fill Type Code', 'E85 Blender Pump', 'CNG On-Site Renewable Source',
                     'CNG Total Compression Capacity', 'CNG Storage Capacity', 'LNG On-Site Renewable Source',
                     'E85 Other Ethanol Blends', 'Hydrogen Pressures', 'Hydrogen Standards',
                     'CNG PSI', 'CNG Vehicle Class', 'LNG Vehicle Class']

In [335]:
df.shape

(9476, 29)

In [336]:
df = df.drop(columnas_a_borrar, axis=1)

In [337]:
df.shape

(9476, 16)

Ordenamos las columnas y borramos algunas que notamos que son irrelevantes al ir avanzando con el análisis.

In [338]:
df.columns

Index(['Fuel Type Code', 'City', 'State', 'EV Level1 EVSE Num',
       'EV Level2 EVSE Num', 'EV DC Fast Count', 'Geocode Status', 'Latitude',
       'Longitude', 'ID', 'EV Connector Types', 'Country', 'Access Code',
       'CNG Dispenser Num', 'EV Pricing', 'LPG Nozzle Types'],
      dtype='object')

In [339]:
df = df[['ID', 'Fuel Type Code', 'Access Code', 'Geocode Status', 'Latitude', 'Longitude', 'City', 'State',
         'EV Level1 EVSE Num', 'EV Level2 EVSE Num', 'EV DC Fast Count', 'EV Connector Types', 'EV Pricing',
         'CNG Dispenser Num', 'LPG Nozzle Types']]

In [340]:
df.head()

,ID,Fuel Type Code,Access Code,Geocode Status,Latitude,Longitude,City,State,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Connector Types,EV Pricing,CNG Dispenser Num,LPG Nozzle Types
5,81,CNG,public,GPS,42.374706,-71.026549,East Boston,MA,NaN,NaN,NaN,NaN,NaN,4.0,NaN
6,84,CNG,public,200-8,42.393167,-71.064352,Everett,MA,NaN,NaN,NaN,NaN,NaN,1.0,NaN
7,108,CNG,public,200-8,40.718037,-73.932309,Brooklyn,NY,NaN,NaN,NaN,NaN,NaN,1.0,NaN
8,112,CNG,public,200-8,40.645540,-73.918344,Brooklyn,NY,NaN,NaN,NaN,NaN,NaN,1.0,NaN
9,124,CNG,public,200-9,40.752903,-74.005831,New York,NY,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [341]:
df.shape

(9476, 15)

In [342]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9476 entries, 5 to 70395
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  9476 non-null   int64
 1   Fuel Type Code      9476 non-null   object
 2   Access Code         9476 non-null   object
 3   Geocode Status      9476 non-null   object
 4   Latitude            9476 non-null   float64
 5   Longitude           9476 non-null   float64
 6   City                9476 non-null   object
 7   State               9476 non-null   object
 8   EV Level1 EVSE Num  34 non-null     float64
 9   EV Level2 EVSE Num  8194 non-null   float64
 10  EV DC Fast Count    799 non-null    float64
 11  EV Connector Types  8850 non-null   object
 12  EV Pricing          2282 non-null   object
 13  CNG Dispenser Num   131 non-null    float64
 14  LPG Nozzle Types    96 non-null     object
dtypes: float64(6), int64(1), object(8)
memory usage: 1.2+ MB

Observamos que tenemos muchos valores nulos, pero es porque algunas columnas no aplican para todos los combustibles. Vamos a crear un df para cada tipo de combustible y analizarlo en función de esa clasificación.

In [343]:
df.to_csv(estaciones_ETL, encoding='utf-8')